[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "==5.1.4"
mypy = "==0.770"

[packages]
hydra-core = "*"
project-name = {editable = true, path = "."}

[scripts]
lint = "mypy ./ --ignore-missing-imports"
fmt = "black -v --line-length 120 src"
fmt-check = "black -v --line-length 120 --check src"
isort-fmt = "isort --line-width 120 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma src"
isort-check = "isort --check-only --line-width 120 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma src"

[requires]
python_version = "3.8"
